<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Colors</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div class="container">
		<div class="btn-row">
			<button id="red">Red</button>
			<button id="green">Green</button>
			<button id="blue">Blue</button>
		</div>
	</div>
</body>
</html>